*~
*.pyc
*.swp

docs/_build
apidocs/_build
apidocs/**/_autosummary
build/
dist/
*.egg-info/
*.egg
.eggs/
.snakemake*
.venv
.venv/*
.python-version
/version.txt


.idea

.pytest*
.cache
.mypy_cache
.ipynb*
.vscode
.ropeproject
.test*
tests/test*/*
playground/*
tutorial/*

src/snakemake/assets/data
src/snakemake/_version.py

# pixi environments
.pixi
*.egg-info
pixi.lock
