*~
*.pyc
*.swp

docs/_build
build/
dist/
*.egg-info/
*.egg
.eggs/
.snakemake*
.venv
.venv/*


.idea

.pytest*
.cache
.mypy_cache
.ipynb*
.vscode
.ropeproject
.test*
tests/test*/*
playground/*
tutorial/*
