body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    height: 100vh;
}

.sidebar-background {
    opacity: 80%;
    background-color: black;
    color: white;
}

.sidebar #nav {
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar p {
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar #title {
    letter-spacing: 0.1em;
}

.sidebar #title #logo {
    height: 1.5em;
    margin: 1em;
    vertical-align: middle;
}

.sidebar .nav-link {
    font-weight: 500;
    color: white;
}

.sidebar .nav-link:hover {
    font-weight: 500;
    color: black;
    background-color: white;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar #show-hide-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar #show-hide-button {
    padding-top: 3em;
    padding-bottom: 3em;
}

.sidebar #show-hide-button#hover {
    color: grey;
}


/* Content */

[role="main"] {
    padding-top: 65px;
    /* Space for fixed navbar */
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}


/* Navbar */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* Utilities */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}


/* Snakemake specific */

.result img {
    max-width: 100vw;
}

.result .preview {
    text-align: center;
}

#rulegraph canvas {
    display: block;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeinout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#loading-screen {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    padding-top: 50vh;
}

p.animation {
    animation: fadeinout 2.5s infinite;
    text-align: center;
    font-size: 200%;
}

#loading-screen p#info {
    text-align: center;
    color: grey;
}

#loading-screen p#jswarning {
    text-align: center;
    color: red;
}

#panel-loading-screen {
    width: 100%;
    height: 100%;
    padding-top: 50vh;
}

#panel-loading-sceen p.animation {
    margin: auto;
}

.vega-actions .btn {
    font-size: 100%;
}

.plot {
    text-align: center;
}

h6.sidebar-heading {
    text-transform: none;
}

.preview {
    text-align: right;
}

.ekko-lightbox-nav-overlay a span {
    color: lightgrey;
}

.navbar {
    opacity: 0.8;
}

.source {
    background: none !important;
    overflow-x: auto;
    width: 100%;
}

table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
    color: black;
    font-weight: bold;
}

table.dataTable tbody tr.selected td:first-of-type {
    font-weight: bold;
}

table.dataTable tbody tr.selected td {
    border-top: 1px solid #007bff;
    border-bottom: 1px solid #007bff;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: transparent;
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: #007bff;
}

table caption {
    display: none;
}

table.results-table {
    width: 100%;
    margin-bottom: 4em;
}

.rule-property {
    overflow-y: auto;
    max-height: 10em;
}

.panel {
    display: none;
}

.panel#workflow {
    display: block;
}

.ruletable th {
    width: 1px;
}

.rule-properties ul {
    padding-left: 1.2em;
}

#thumbnail-modal .modal-body {
    overflow: auto;
    text-align: center;
}

.category pre {
    max-width: 20vw;
    max-height: 10vh;
}

.modal-lg {
    max-width: 95%;
}