Source: python3-snakemake
Section: science
Priority: extra
Maintainer: Johannes Koester <johannes.koester@tu-dortmund.de>
Standards-Version: 3.9.2
XS-Python3-Version: >= 3.2
XS-Python-Version: >= 3.2

Package: python3-snakemake
Architecture: any
Depends: python3 
Description: A Python based language and execution environment for make-like workflows.
