#! /usr/bin/make -f

%:
	dh   $@

#override_dh_auto_clean:
#	python3 setup.py clean

#override_dh_auto_build:
#	python3 setup.py build

#override_dh_auto_install:
#	python3 setup.py install --root=$(CURDIR)/debian/python3-snakemake--no-compile --install-layout=deb


