sphinx ==8.1  # TODO workaround for bug, update as soon as fixed
sphinxcontrib-napoleon
sphinx-argparse
sphinx-autodoc-typehints
docutils
myst-parser
configargparse
appdirs
sphinxawesome-theme
snakemake-interface-common
snakemake-interface-executor-plugins
snakemake-interface-storage-plugins