sphinx >=3
sphinxcontrib-napoleon
sphinx-argparse
sphinx-autodoc-typehints =3.0.1
docutils
myst-parser
configargparse
appdirs
sphinxawesome-theme
snakemake-interface-common
snakemake-interface-executor-plugins
snakemake-interface-storage-plugins