sphinx >=3
sphinxcontrib-napoleon
sphinx-argparse
docutils
myst-parser
configargparse
appdirs
immutables
sphinxawesome-theme
snakemake-interface-common
snakemake-interface-executor-plugins
snakemake-interface-storage-plugins
snakemake-interface-report-plugins
humanfriendly