name: docs

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  # Cancel concurrent flows on PRs
  group: ci-docs-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Setup doc dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
      
      - name: Build docs
        run: |
          cd docs
          make html SPHINXOPTS="-W --keep-going -n"
      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: docs-html
          path: docs/_build/html/
  
  apidocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Setup doc dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r apidocs/requirements.txt
          pip install -e .
      
      - name: Build docs
        run: |
          cd apidocs
          make html SPHINXOPTS="-W --keep-going -n"

      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: apidocs-html
          path: docs/_build/html/